<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dogukanhan.kayitlar">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Notes.NotesAddEditActivity"></activity>
        <activity android:name=".activity.Payout.PayoutActivity" />
        <activity android:name=".activity.wholesaler.WholesalerPurchaseSummaryFragment" />
        <activity
            android:name=".activity.Notes.NotesActivity"
            android:exported="true" />
        <activity android:name=".activity.Purchase.PurchaseActivity" />
        <activity android:name=".activity.wholesaler.main.WholeSalerNewActivity" />
        <activity
            android:name=".activity.Sales.SalesActivity"
            android:exported="true" />
        <activity android:name=".activity.Product.ProductActivity" />
        <activity android:name=".activity.Product.CategoryEditActivity" />
        <activity android:name=".activity.Product.CategoryActivity" />
        <activity
            android:name=".activity.wholesaler.WholesalerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".activity.wholesaler.WholesalerShowActivity"
            android:exported="true"
            android:label="@string/title_activity_customer_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.customer.CustomerShowActivity"
            android:exported="true"
            android:label="@string/title_activity_wholesaler_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.customer.CustomerSpecificationsFragment" />
        <activity
            android:name=".activity.customer.CustomerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat"
            />

        <activity android:name=".activity.MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Product.ProductEditActivity" />
        <activity
            android:name=".activity.customer.CustomerNewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.income.IncomeActivity"
            android:exported="true" />

    </application>

</manifest>